.headerbox{
    width: 1400px;
    background-color:white;
    height: 200px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.text1{
    font-size: 30px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;

}
ul{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.list{
    margin-left: 30px;
}
.hum{
    width: 30px;
    height: 30px;
    border-radius: 30px;
   

}
.round{
    margin-left: 80px;
    background-color: white;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.text2{
    font-size: 14px;
    margin-left: 15px;
}
section{
    width: 1400px;
    height: 2005px;
    background-color:white;
    margin-left: 100px;
}
.big{
    width: 1350px;
    height: 500px;
    background-color:white;
    display: flex;
}
.cont1{
    width: 700px;
    height: 450px;
  
}
.smal1{
    width:800px;
    height: 300px;
    background-color: white;
}
h1{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 10px;
    
}
h2{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 10px;
}
ul1{
    display: flex;
    align-items: center;
    

}
.text2{
    margin-top: 10px;
    font-size: 13px;
    
}
.text4{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.r1{
    background-color: brown;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}
.box3{
    margin-left: 15px;
    margin-top: 20px;
}
.box4{
    width: 1000px;
    height: 150px;
  
    display: flex;
    margin-top: 100px;
    background-color: wheat;
    
   
   
  
}
.box5{
    width: 170px;
    height: 50px;
    
 
   padding: 10px 10px 10px 10px;
}
.text5{
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}
.text6{
    color: black;
    font-size: 16px;
    margin-top: 5px;
    
}
.box7{
    width: 340px;
    height: 100px;
    background-color: wheat;
    border-color: bisque;
    padding: 10px 10px 10px 10px;
    margin-left: 30px;
}
.text8{
    margin-top: 10px;
}
.buton{
    width: 330px;
    height: 48px;
    border-radius: 50px;
    margin-top: 20px;
}
.line{
    width: 1px;
    height: 150px;
    background-color:darkcyan;
}
.komp{
    width: 350px;
    height: 350px;
    margin-left: 110px;
}
.textu{
    margin-left: 130px;
    font-size: 18px;
}
.infotext{
    margin-left: 110px;
    font-size: 12px;
}
.box10{
    
}
.cont2{
    width: 1600px;
    height: 50px;
    background-color: wheat;
    margin-top: 70px;
    
}
.list1{
    margin-left: 30px;
    margin-top: 15px;
    color: white;
}
.textbig{
    font-size: 18px;
}
.senior1{
    width: 880px;
    height: 430px;
    background-color: whitesmoke;
    margin-left: 60px;
    padding: 0px 12px 32px;
}
.buton2{
    width: 146px;
    height: 38px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 50px;
    border-color:red;
}
.read{
    color: red;
}
.oun{
    width: 16px;
    height: 16px;
}
.small2{
    width: 280px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.in{
    font-size: 12px;
}
.textbig{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.senior{
    display: flex;
}
.divebi{
    width: 450px;
    height: 250px;
    padding: 35px 20px 15px;
}
.card2{
    width: 70px;
    height: 50px;
    border-radius: 35px;
    margin-left: 150px;
    transition: all 1s;

}
.card2::first-letter{
    text-transform: uppercase;
}
.card2:hover{
    transform: scale(1.1);
}
.ons{
    width: 360px;
    height:55px ;
}
.on{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
.up{
    width: 400px;
    height: 48px;
    justify-content: center;
    margin-top: 20px;

}
.sign{
    font-size: 17px;
    color: brown;
    margin-left: 150px;
}
.broun{
    width: 1600px;
    height: 500px;
    background-color: brown;
}
.junior{
    width: 700px;
    height: 450px;
    background-color: whitesmoke;
    margin-left: 300px;
    border-radius: 35px 35px 0px 0px;
}
.jun{
    width: 600px;
    height: 50px;
    background-color: white;
    margin-top: 15px;
}
.jei{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 17px;
}
.wert{
    margin-left: 20px;
}
.n{
    margin-top: 10px;
}
.tvit{
    width: 770px;
    height: 400px;
   
}
.tick{
    
    display: flex;
}
ul1{
    margin-top: 10px;
}
.m{
    margin-top: 10px;
}
.foto{
    width: 450px;
    height: 450px;
    margin-left: 60px;
}
.scr{
    width: 350px;
    height: 350px;
}
.ninas{
    width: 400px;
    height: 400px ;
    background-color:white;
    border-radius: 0px 0px 30px 30px;
}
.out{
    margin-top: 10px;
}
.k{
    margin-top: 15px;

}
.rbox{
   
    width:1200px ;
    height: 208px;
   
    margin-top: 50px;
    margin-left: 100px;

}
html{
    width: 1800px;
    height: 2900px;
   

}
.sm{
    width: 300px;
    height: 150px;
   
    
    margin-left: 250px;
    margin-top: 50px;
}
    .red{
       margin-left: 250px;
    }
    .futbox{
        width: 1500px;
        height: 430px;
        background-color: rgb(94, 28, 156);
        
    }
    nav{
        display: flex;
       
    }
    .soft{
       height: 100px;
       width: 100px;
       
       margin-left: 160px;
      
    
    }
    h4{
        margin-left: 50px;
        color: blueviolet;
    }
    ul3{
        
        margin-top: 20px;
       margin-left: 50px;
    }
    .list4{
        margin-top: 15px;
        color: white;

    }
    .line2{
        width: 100px;
        height: 2px;
        color: black;
    }
    .main{
        display: flex;
    }
    .mn{
        display: flex;
    }